
<div [hidden]="isLoading" id="home" class="container">  
  <div class="block">
    <div class="col-md-6 mt-3 mx-auto">
      <img class="text-center img-fluid" src="../../assets/images/logo-larger.jpg">
      <div class="page-title">
        <h1 class="text-center">Comparar planos</h1>
      </div>
      <form>
        <div class="form-row text-center">
          <div class="form-group col ">
            <label>Origem</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="origem" 
                placeholder="DDD" [value]="loginForm.controls.origem.value" (change)="update()" (click)="openModal(content,1)"/>
              
              <button class="" type="button" (click)="openModal(content,1)">+</button>
              

            </div>
          </div>
          <div class="form-group col">
            <label>Destino</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="destino" 
                placeholder="DDD" [value]="loginForm.controls.destino.value" (change)="update()" (click)="openModal(content,2)"/>
              
              <button class="" type="button" (click)="openModal(content,2)">+</button>
            
            </div>
          </div>
          <div class="form-group col">
            <label>Minutes</label>
            <input #minute type="number" class="form-control" formControlName="minutos"  ng-pattern="/^-?[0-9][^\.]*$/"
              placeholder="MM" [value]="loginForm.controls.minutos.value" (keyup)="setMinute(minute.value)"/>
            
          </div>
        </div>     
      </form>
    </div>
  </div>
  
  <div class="row block plans">
    <div class="col text-center plan" *ngFor="let result of results">
      <strong>{{result.plan}}</strong><br/>
      <div [hidden]="!result.value" class="value">
        <span>R$ </span> 
        <span class="integer"> {{ result.value - (result.value % 1) | number:0  }}</span>,<span>{{ (result.value % 1) * 100 | number }}</span>
      </div>
      <div [hidden]="result.value" class="value">
          <strong class="integer">-</strong>
      </div>
    </div>
  </div>

  <div class="text-center footer">
    <span>CI&T Telecomunicações ©2018</span>
  </div>
  <ng-template #content let-c="close" let-d="dismiss" class="ddds-list">
      <div class="">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <table class="table table-striped" >
          <tr *ngFor="let item of ddds" (click)="choose(item)">
              <td>
                {{item.ddd}} {{item.city}}
              </td>
          </tr>
        </table>
      </div>
      
  </ng-template>
</div>
